@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly
@using System.IdentityModel.Tokens.Jwt
@inject CustomAuthenticationStateProvider AuthProvider

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        @context.User.Claims.FirstOrDefault(c=>c.Type == JwtRegisteredClaimNames.Email)?.Value
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Выйти</button>
    </Authorized>
    <NotAuthorized>
        <a href="login">Войти</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    

    private async Task BeginSignOut(MouseEventArgs args)
    {
        try
        {
            await AuthProvider.LogoutAsync();
        }
        catch (Exception)
        {
            // ignored
        }
    }

}